In [1]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-py2.py3-none-any.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.2.0-py2.py3-none-any.whl (398 kB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0
Note: you may need to restart the kernel to use updated packages.

In [59]:
import mysql.connector

In [ ]:
conn = mysql.connector.connect(
    host=" ",       # Change if MySQL is hosted remotely
    user=" ",            # Your MySQL username
    password=" ",  # Your MySQL password
    database=" "        # Your database name
)

cursor = conn.cursor()
print("Connected to MySQL successfully!")

In [64]:
cursor.execute("SHOW TABLES;")
for table in cursor:
    print(table)

('employee_name',)
('survey_attribute',)
('survey_report',)
('survey_result',)
('value_set',)

Understanding Data

In [67]:
cursor = conn.cursor()

# Fetch all table names from the database
cursor.execute("SHOW TABLES;")
tables = cursor.fetchall()

# Iterate through each table and fetch the total number of records
for table in tables:
    table_name = table[0]
    print(f"Total records in table: {table_name}")
    
    query = f"SELECT COUNT(*) FROM {table_name};"
    cursor.execute(query)
    
    # Fetch result (the count of rows)
    result = cursor.fetchone()
    total_records = result[0]
    
    # Print total records in the table
    print(f"Total records: {total_records}\n")

Total records in table: employee_name
Total records: 53248

Total records in table: survey_attribute
Total records: 19

Total records in table: survey_report
Total records: 30825

Total records in table: survey_result
Total records: 48213

Total records in table: value_set
Total records: 251

In [ ]:
# Iterate through each table and fetch the top 10 rows

cursor.execute("SHOW TABLES;")
tables = cursor.fetchall()

for table in tables:
    table_name = table[0]
    print(f"\n Top 10 results from table: {table_name}")
    
    query = f"SELECT * FROM {table_name} LIMIT 10;"
    cursor.execute(query)
    rows = cursor.fetchall()
    
    # Fetch column names
    column_names = [i[0] for i in cursor.description]
    print(" | ".join(column_names))  # Print column headers
    
    # Print each row
    for row in rows:
        print(" | ".join(str(col) for col in row))  # Convert all values to string for printing

In [ ]:
query = "SELECT DISTINCT EmployeeId FROM survey_result;"
cursor.execute(query)
distinctEmployees = cursor.fetchall()

In [ ]:
for employee in distinctEmployees:
    employee_id = employee[0]
    print(f"EmployeeId: {employee_id}")

In [ ]:
absent_employee_reason_attr_id = '10888805135056'

for employee in distinctEmployees:
    employee_id = employee[0]
    # TO-DO implement query to fetch absent reason for each employee
    cursor.execute(query_absent_reason)
    absent_reason_result = cursor.fetchone()
    print(f"EmployeeId: {employee_id}, AbsentEmployeeReason: {absent_reason_result}")

In [ ]:
certifications_attr_id = '10888805157268'

for employee in distinctEmployees:
    employee_id = employee[0]
    # TO-DO implement query to fetch certifications for each employee
    cursor.execute(query_certifications)
    certifications_result = cursor.fetchone()
    print(f"EmployeeId: {employee_id}, Certifications: {certifications_result}")

In [ ]:
for employee in distinctEmployees:
    employee_id = employee[0]
    # TO-DO implement query to fetch employee details
    cursor.execute(query_employee_details)
    emp_details = cursor.fetchone()
    print(f"EmployeeId: {emp_details[0]}, FirstName: {emp_details[1]}, LastName: {emp_details[2]}")

In [54]:
insertData = []

for employee in distinctEmployees:
    employee_id = employee[0]
    
    # Fetch employee details
    # TO-DO implement query to fetch employee details
    cursor.execute(query_employee_details)
    emp_details = cursor.fetchone()
    
    if emp_details:
        # Fetch absent employee reason
        # TO-DO implement query to fetch absent reason for each employee
        cursor.execute(query_absent_reason)
        absent_reason_result = cursor.fetchone()
        absent_reason = absent_reason_result[0] if absent_reason_result else None
        
        # Fetch certifications
        # TO-DO implement query to fetch certifications for each employee
        cursor.execute(query_certifications)
        certifications_result = cursor.fetchone()
        certifications = certifications_result[0] if certifications_result else None
        
        # Combine details into a single record
        record = (emp_details[0], emp_details[1], emp_details[2], absent_reason, certifications)
        insertData.append(record)

In [55]:
truncate_query = "TRUNCATE TABLE survey_report;"
cursor.execute(truncate_query)
print("The 'survey_report' table has been emptied.")

The 'survey_report' table has been emptied.

In [56]:
insert_query = """
INSERT INTO survey_report (EmployeeId, FirstName, LastName, AbsentEmployeeReason, Certifications)
VALUES (%s, %s, %s, %s, %s);
"""

In [57]:
for record in insertData:
    cursor.execute(insert_query, record)
    conn.commit()
print("Data inserted successfully into 'survey_report' table.")

Data inserted successfully into 'survey_report' table.

In [61]:
import time

sample_sizes = [100, 500, 1000, 5000, 10000, 20000, 30825]
time_taken = {}

for sample_size in sample_sizes:
    start_time = time.time()
    
    sample_employees = distinctEmployees[:sample_size]
    sample_insert_data = []

    for employee in sample_employees:
        employee_id = employee[0]
        
        # Fetch employee details
        # TO-DO implement query to fetch employee details
        cursor.execute(query_employee_details)
        emp_details = cursor.fetchone()
        
        if emp_details:
            # Fetch absent employee reason
            # TO-DO implement query to fetch absent reason for each employee
            cursor.execute(query_absent_reason)
            absent_reason_result = cursor.fetchone()
            absent_reason = absent_reason_result[0] if absent_reason_result else None
            
            # Fetch certifications
            # TO-DO implement query to fetch certifications for each employee
            cursor.execute(query_certifications)
            certifications_result = cursor.fetchone()
            certifications = certifications_result[0] if certifications_result else None
            
            # Combine details into a single record
            record = (emp_details[0], emp_details[1], emp_details[2], absent_reason, certifications)
            sample_insert_data.append(record)
    
    end_time = time.time()
    time_taken[sample_size] = end_time - start_time

print("Time taken for different sample sizes:")
for size, duration in time_taken.items():
    print(f"Sample size {size}: {duration:.2f} seconds")

Time taken for different sample sizes:
Sample size 100: 0.15 seconds
Sample size 500: 0.48 seconds
Sample size 1000: 0.98 seconds
Sample size 5000: 4.74 seconds
Sample size 10000: 9.39 seconds
Sample size 20000: 19.13 seconds
Sample size 30825: 34.70 seconds

**Closing the connection**

In [68]:
cursor.close()
conn.close()
print("Connection closed.")

Connection closed.